# prevent circular conflict with dotfiles bare repo
.dotfiles

# pyenv and nodenv local version files
.python-version
.node-version

# poetry
poetry.toml
requirements.txt.save

# virtualenv
**/*v*env/**

# python binary artifacts
**/__pycache__/**
**/*.egg-info/**

# node.js dependencies
**/node_modules/**

# vscode
**/.vscode/**
**/*.code-workspace
**/.devcontainer

# macOS
.DS_Store
