# prevent circular conflict with dotfiles bare repo
.dotfiles

# pyenv and nodenv local version files
.python-version
.node-version

# poetry
pyproject.toml
poetry.lock
requirements.txt.save

# virtualenv
**/*v*env/**

# python binary artifacts
**/__pycache__/**
**/*.egg-info/**

# vscode
**/.vscode/**
**/*.code-workspace

# macOS
.DS_Store
